{% extends 'base.twig' %}

{% block title %} | Season 4 Countdown{% endblock %}

{% block favicon %}icon-diablo.png{% endblock %}

{% block description %}Combien de temps avant la saison 4 ?{% endblock %}

{% block metas %}
  <meta property="og:site_name" content="the.addicted.one/diablo">
  <meta property="og:url" content="http://the.addicted.one/diablo">
  <meta property="og:title" content="Combien de temps avant la saison 4 ?">
  <meta property="og:description" content="L'attente est trop longue ! Nous réclamons une mise à jour de Diablo III : Reaper of Souls !">
  <meta property="og:image" content="http://the.addicted.one/images/malthael.jpg">
  <meta property="og:type" content="article">
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/diablo.min.css">
{% endblock %}

{% block body %}
  <section id="dialog">
    <div class="front">
      <h1>Vivi "Phoenix" Carré</h1>
      <section class="text silver delay1">Hey, Vivi !</section>
      <section class="text vivi delay2">Oui ?</section>
      <section class="text silver delay3">
        <span id="time"></span>
      </section>
      <section class="text silver delay4">Clique pour voir les nouveautés !</section>
      <div class="clear"></div>
    </div>
    <div class="back">
      <h2>Nouveautés !</h2>
      <a href="http://eu.battle.net/d3/fr/blog/19823807/aper%C3%A7u-de-la-mise-%C3%A0-jour-23-les-ruines-de-sescheron-22-07-2015">Les ruines de Sescheron</a>
      <a href="http://eu.battle.net/d3/fr/blog/19817367/aper%C3%A7u-de-la-mise-%C3%A0-jour-230-le-cube-de-kanai-28-07-2015">Le cube de Kanai</a>
      <a href="http://eu.battle.net/d3/fr/blog/19842936/aper%C3%A7u-de-la-mise-%C3%A0-jour-230-le-mode-aventure-04-08-2015">Le mode aventure</a>
      <a href="http://eu.battle.net/d3/fr/blog/19842943/la-fin-de-la-saison-3-approche-07-08-2015">La fin de la saison 3</a>
      <a href="http://eu.battle.net/d3/fr/blog/19824753/aper%C3%A7u-de-la-saison-4-11-08-2015">Aperçu de la saison 4</a>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ app.request.basepath }}/js/diablo.min.js"></script>
{% endblock %}