<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="UTF-8">
    <title>Tao's Website{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ app.request.basepath }}/images/{% block favicon %}icon.png{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block metas %}{% endblock %}
    {% block stylesheets %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    <script src="{{ app.request.basepath }}/js/jquery-2.1.1.min.js"></script>
    <script src="{{ app.request.basepath }}/js/libs.min.js"></script>
    <script>var BASEPATH = '{{ app.request.basepath }}';</script>
    {% block scripts %}{% endblock %}
  </body>
</html>
