//-----------------------------------------------------------------------------+
//                                                                             |
// Constants                                                                   |
//                                                                             |
//-----------------------------------------------------------------------------+
@blue: #0B3861;

/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v7/qLBu5CQmSMt1H43OiWJ77VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(http://fonts.gstatic.com/s/comfortaa/v7/fND5XPYKrF2tQDwwfWZJI-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

@keyframes slidetoleft {
  from  { margin-left: 100px; opacity: 0; }
  to    { margin-left:   0px; opacity: 1; }
}
@keyframes slidetoright {
  from  { margin-right: 100px; opacity: 0; }
  to    { margin-right: 0px; opacity: 1; }
}
//-----------------------------------------------------------------------------+
//                                                                             |
// HTML                                                                        |
//                                                                             |
//-----------------------------------------------------------------------------+
html {
  background-position: center;
  background-image: url(../images/malthael.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
body {
  perspective: 800px;
}
h1, h2 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  margin: 0px 0px 20px;
}
a, a:link {
  color: white;
  display: block;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
//-----------------------------------------------------------------------------+
//                                                                             |
// Elements                                                                    |
//                                                                             |
//-----------------------------------------------------------------------------+
#dialog {
  border: 1px solid white;
  box-shadow: 0px 0px 50px 20px white;
  box-sizing: border-box;
  height: 500px;
  margin: 150px auto;
  overflow: visible;
  position: relative;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all 1s ease 0s;
  width: 400px;
  &.flipped {
    transform: rotateY( 180deg );
  }
  &:hover {
    cursor: pointer;
  }

  .front, .back {
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
  }
  .back {
    font-size: 20px;
    transform: rotateY( 180deg );
  }
  .text {
    border: 1px solid white;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    &.silver  {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: slidetoright;
      background: @blue;
      float: right;
      opacity: 0;
    }
    &.vivi {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: slidetoleft;
      background: lighten(@blue, 20%);
      float: left;
      opacity: 0;
    }
  }
}
#time {
  font-size: 20px;
  font-weight: bold;
}
//-----------------------------------------------------------------------------+
//                                                                             |
// OCSS                                                                        |
//                                                                             |
//-----------------------------------------------------------------------------+
.delay1 { animation-delay: 1s; }
.delay2 { animation-delay: 2s; }
.delay3 { animation-delay: 3s; }
.delay4 { animation-delay: 4s; }

.clear { clear: both; }