<article class="flip position-{{ loop.index }}">
  <figure class="blue front fa fa-{{ tile.icon }}"></figure>
  <figure class="blue back">
    <div class="nano">
      <div class="nano-content">
        <h2>{{ tile.title }}</h2>
        {% for row in tile.rows %}
          <div class="fixed-line">
            <span>{{ row.label }}</span>
            <span>{{ row.content }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </figure>
</article>