{% extends 'base.twig' %}

{% block description %}Also known as "Tao". Or "Silver". For information purposes only.{% endblock %}

{% block stylesheets %}
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/tao.min.css">
{% endblock %}

{% block body %}
  <figure id="bg"></figure>
  <header>
    <h1>David "The Addicted One" Auk</h1>
  </header>
  <menu id="menu" class="nano disabled">
    <div class="nano-content">
      {% for tile in tiles %}
        <section class="tile {{ tile.size }}" title="{{ tile.title }}" data-cmd="{{ tile.cmd }}">
          {% if tile.img is defined %}
            <img src="{{ app.request.basepath }}/images/{{ tile.img }}" alt="{{ tile.title }}">
          {% elseif tile.icon is defined %}
            <i class="fa fa-{{ tile.icon }}"></i>
          {% else %}
            <i>?</i>
          {% endif %}
        </section>
      {% endfor %}
      <div class="clear"></div>
    </div>
  </menu>
  <main id="console">
    <div class="nano">
      <div class="nano-content">
        <pre id="initialize">
> initialize
 Channel ... [OPEN]
 Systems ... [FUNCTIONAL]
 Subject ... [FOUND]
   Name        David Auk
   Alias       The Addicted One
   Age         26
   Location    Juan-les-Pins, France
   Status      Full-Stack developer
 Waiting for instructions ...
        </pre>
        <div id="prompt">
        </div>
        <div id="cursor" class="hidden">
          <span>&gt;</span>
          <span class="caret"></span>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script src="{{ app.request.basepath }}/js/tao.min.js"></script>
{% endblock %}