// Libs

.nano {
  overflow: hidden;
  position: relative;
}

.nano .nano-content {
  padding-left  : 20px;
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .nano-content:focus {
  outline: thin dotted;
}
.nano .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar .nano-content::-webkit-scrollbar {
  display: block;
}
.nano .nano-pane {
  background : @light-blue;
  position   : absolute;
  width      : 8px;
  left      : 5px;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .3;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.nano .nano-pane .nano-slider {
  background            : @dark-blue;
  cursor: pointer;
  opacity               : .9;
  position              : relative;
  margin                : 1px;
}
.nano:hover .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 1;
}