@blue       : #00314D;
@light-blue : lighten(@blue, 10%);
@dark-blue  : darken(@blue, 5%);
@grey       : #AAAAAA;
@dark-grey  : #333333;

@height: 700px;

@import 'libs.less';

@keyframes blink {
  from { color: white; }
  to { color: transparent; }
}

a, a:link, a:visited {
  color: white;
  font-weight: bold;
  &:hover {
    font-style: italic;
  }
}
body {
  background: black;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  width: 100%;
}

div, main, section {
  box-sizing: border-box;
}
figure {
  margin: 0;
}
h1 {
  font-size: 40px;
  height: 100px;
  line-height: 100px;
  margin: 0;
  text-align: center;
}
label {
  font-weight: bold;
  padding-left: 5px;
  position: absolute;
  width: 115px;
}
p {
  margin: 0px 50px 0px 120px;
  text-align: justify;
}
pre {
  font-family: 'Inconsolata', monospace;
  margin: 0;
}

menu {
  @border-margin: 2px;
  display: inline-block;
  height: @height;
  margin: 0px 0px 0px 50px;
  padding: 0;
  transition: all 1s linear 0s;
  width: 250px + (2 * @border-margin);
  .tile {
    background: linear-gradient(@light-blue, @dark-blue);
    border: 1px solid @light-blue;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 2em;
    margin: @border-margin;
    opacity: .2;
    position: relative;
    text-align: center;
    transition: all .5s linear 0s;
    i {
      line-height: 100px;
      transition: all .5s linear 0s;
    }
    img {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 24px;
      transition: all 3s linear 0s;
    }

    &.m  {
      height: 100px;
      width: 200px;
    }
    &.s   {
      height: 100px - @border-margin;
      width:  100px - @border-margin;
    }
    &:hover {
      opacity: 1;
    }
  }
  &.disabled {
    .tile {
      background: linear-gradient(@grey, @dark-grey);
      border-color: @grey;
      color: @grey;
      cursor: not-allowed;
      i, img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
      }
    }
    &.nano {
      .nano-pane {
        background: @grey;
        .nano-slider {
          background: @dark-grey;
        }
      }
    }
  }
}

#bg {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
#cursor {
  &.hidden { display: none; }
}
#console {
  background: linear-gradient(45deg, fadeout(@light-blue, 50%), fadeout(@dark-blue, 30%));
  border: 1px solid @light-blue;
  display: inline-block;
  font-size: 16px;
  height: @height;
  padding: 20px 0px;
  text-align: left;
  transition: all .5s linear 0s;
  vertical-align: top;
  width: 800px;
  .nano {
    height: 100%;
    width: 100%;
    .nano-pane {
      background: @dark-blue;
      .nano-slider {
        background: @light-blue;
      }
    }
  }
  .block {
    margin: 0px 0px 20px;
    .sub {
      margin: 0px 0px 5px;
    }
  }
}

.caret {
  animation-direction: alternate;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-name: blink;
  &::before {
    content: '_';
  }
}
.clear {
  clear: both;
}